body{
  background-color: #baffff;
  text-align: center;
}
form {
  background-color: #4bcbcc;

}
.btn{
  color:  #4bcbcc;
  background-color: #84ffff
}
  .head{
    background-image: url("sun2.png");
    height: 300px;
    background-repeat: no-repeat;
    text-align: center;
    background-size: 100% auto;
    width: 100%;
    color: #fff;
  }
  figcaption { 
    display:inline-block;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }