body{
    background-color: #9c4dcc;
    color:#fff;
  }
  .head{
    background-image: url("east.jpg");
    height: 200px;
    background-repeat: no-repeat;
    text-align: center;
    background-size: 100% auto;
    width: 100%;
  }
 .container{
  color:#000;
 }