{%extends 'base.html'%}
{% block content %}
{{ block.super }}
<div class="head">
    <h4>WELCOME TO THE HOOD</h4>
    <h4>THE CITY UNDER THE SUN</h4>
    <h4>HAKUNA MATATA</h4>
    <p>take your time to familiarise yourselve with the neighbourhoods</p>
    <a class = "btn btn-info" href="{%url 'details'%}">create details to join a neighbourhood</a>
</div>
<div class="container">
        {%for hoods in hoods%}
    <div class="row-md-12">
        
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
           
            <div class="card bg-primary">
                <h4 class="card-title">{{hoods.name}}</h4>
                <img class="card-img-top" src="{{ hoods.image.url }}" height="250px" width="350px" alt="Card image cap">
                <div class="card-img-overlay">
                    <p class="card-text"><i class="far fa-clock pr-2"></i>{{hoods.pub_date}}</p>
                    <p class="card-text">location: {{hoods.location}}</p>
                    <p class="card-text">habited by {{hoods.count}} families</p>
                </div>
            </div>

           
        </div>

    </div>
    {%endfor%}
</div>
{% endblock %}