{%extends 'base.html'%}
{% block content %}

{{ block.super }}
<div class="container">

    <div class="row-md-12 "">
        <img class="gallery-image" alt=""  width=30 height=30 src='{{user.profile.image.url}}'>
        <h2 class='account-heading'>{{user.username}}</h2>
        <p class='text-secondary'>{{user.bio}}</p>
        <p class='text-secondary'>{{user.email}}</p>
        <a href="{%url 'user-update'%}">Update your details</a><br>
        <a href="{%url 'details'%}">profile add</a>
      
    </div>
    <hr>
    {% for project in project %}
    <div class="row-md-12">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="card "> 

            </div>
           
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
